__pycache__
.ipynb_checkpoints
.spyproject
data/models
data/execution_times
data/histories
data/embeddings
data/stopping_epochs
data/predictions
data/distances_to_anchor
data/metrics_confusion_matrices